.text-info {
  margin-inline-start: 5%;
  width: 90%;
  background: #394052;
  text-align: left;
  padding: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  border: 2px solid #4AB24D;
  border-radius: 8px;
  margin-top: 20px;
}
